<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-center"> ما عنا  شي تو اما  ارجع شوف خرجة تواتيك  </h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Kharjas" asp-action="Index">EL KHARJET </a>
        <br />
        <h1 style="font-weight : bold">
            سافر انت لست شجرة 
        </h1>
    </div>
</div>